<div class="modal-header">
  <h4 class="modal-title">Experience Details</h4>
  <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="ExpFrom" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <input class="form-control" formControlName="title" placeholder="Title " type="text"/>
    </div>
    <span *ngIf="!ExpFrom.get('title').valid && ExpFrom.get('title').touched" class="help-block">
      <p class="alert-warning">Title Required..!</p>
    </span>
    <div class="form-group">
      <input class="form-control" formControlName="companyName" placeholder="Company Name" type="textarea"/>
    </div>
    <span *ngIf="!ExpFrom.get('companyName').valid && ExpFrom.get('companyName').touched" class="help-block">
      <p class="alert-warning">Company Name Required..!</p>
    </span>
    <div class="form-group">
      <input class="form-control" formControlName="location" placeholder="Location" type="textarea"/>
    </div>
    <span *ngIf="!ExpFrom.get('location').valid && ExpFrom.get('location').touched" class="help-block">
      <p class="alert-warning">Location Required..!</p>
    </span>
    <div class="form-group">
      <label>Start Date</label>
      <input class="form-control" formControlName="startDate" placeholder="Start Date" type="date"/>
    </div>
    <span *ngIf="!ExpFrom.get('startDate').valid && ExpFrom.get('startDate').touched" class="help-block">
      <p class="alert-warning">Start Date Required..!</p>
    </span>
    <div class="form-group">
      <label>End Date</label>
      <input class="form-control" formControlName="endDate" placeholder="End Date" type="date"/>
    </div>
    <span *ngIf="!ExpFrom.get('endDate').valid && ExpFrom.get('endDate').touched" class="help-block">
      <p class="alert-warning">End date Required..!</p>
    </span>
    <div class="form-group">
      <input class="form-control" formControlName="description" placeholder="description" type="textarea"/>
    </div>
    <span *ngIf="!ExpFrom.get('description').valid && ExpFrom.get('description').touched" class="help-block">
      <p class="alert-warning">Description Required..!</p>
    </span>
  </div>
  <div class="modal-footer">
    <div class="form-group">
      <input class="form-control btn btn-outline-primary" [disabled]="ExpFrom.invalid" text="Submit" type="Submit" />
    </div>
    <button (click)="activeModal.close('Close click')" class="btn btn-outline-dark" type="button">Close</button>
  </div>
</form>
