<app-home></app-home>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="!isRegistered">
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" >
          <div class="form-group">
            <input class="form-control" formControlName="firstName" placeholder="First Name" type="text"/>
            <span *ngIf="!registerForm.get('firstName').valid && registerForm.get('firstName').touched"
                  class="help-block">
              First Name is required
            </span>
          </div>
          <div class="form-group">
            <input class="form-control" formControlName="lastName" placeholder="Last Name" type="text"/>
            <span *ngIf="!registerForm.get('lastName').valid && registerForm.get('lastName').touched" class="help-block">
              Last Name is required
            </span>
          </div>
          <div class="form-group">
            <input class="form-control" formControlName="email" placeholder="Email Id" type="text"/>
            <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched" class="help-block">
              Email id is required
            </span>
          </div>
          <div class="form-group">
            <input class="form-control" formControlName="password" placeholder="Password" type="password"/>
            <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched" class="help-block">
              Password is required
            </span>
          </div>
          <div class="form-group">
            <input class="form-control" formControlName="phoneNo" placeholder="Phone Number" type="text"/>
            <span *ngIf="!registerForm.get('phoneNo').valid && registerForm.get('phoneNo').touched" class="help-block">
              Phone no. is required
            </span>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">
              Register
            </button>
            <a class="btn btn-link" routerLink="/login">Cancel</a>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
